nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 20px 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: black;
    font-family: "Poppins";
    font-size: 20px;
    &.mask {
        mask-image: linear-gradient(black 70%, transparent);
        -webkit-mask-image: linear-gradient(black 70%, transparent);
    }
    &.mask-pattern {
        top: 300px;
        mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"),
            linear-gradient(
                black calc(100% - 30px),
                transparent calc(100% - 30px)
            );
        mask-size: auto 30px, 100% 100%;
        mask-repeat: repeat-x, no-repeat;
        mask-position: left bottom, top left;

        -webkit-mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"),
            linear-gradient(
                black calc(100% - 30px),
                transparent calc(100% - 30px)
            );
        -webkit-mask-size: auto 30px, 100% 100%;
        -webkit-mask-repeat: repeat-x, no-repeat;
        -webkit-mask-position: left bottom, top left;
    }

    @media (min-width: 640px) {
        padding: 16px 50px 30px 50px;
    }
    z-index: 999;
}
nav.is-hidden {
    transform: translateY(-100%);
}
a {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
.list {
    @media (min-width: 640px) {
        display: flex;
    }

    li {
        font-family: "Roboto", sans-serif;
        list-style-type: none;
        margin: 5px;
        align-items: end;
        margin-left: 10px;
    }
}

.menu {
    display: none;
}

@media (max-width: 900px) {
    nav {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        align-items: flex-end;
        padding: 80px 20px 20px 20px;
        transition: right 1.5s ease-in-out;
        z-index: 1000;
        display: none;
        justify-content: flex-start;
    }

    nav.active {
        display: flex;
        right: 0;
    }

    .menu-icon {
        position: fixed;
        top: 20px;
        left: 20px;
        right: 20px;
        display: block;
        z-index: 1001;
    }

    .menu-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 996;
        background-color: rgba(0, 0, 0, 0.5);
        
    }

    .menu-overlay.active {
        display: block;
    }

    .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .list li {
        margin: 0;
        width: 100%;
    }

    .list li a {
        display: block;
        padding: 10px 0;
        width: 100%;
        text-align: right;
    }

    .list li button {
        width: 100%;
        padding: 10px;
        background-color: #226ce7;
        color: white;
        border-radius: 5px;
        height: 50px;
    }

    .logo-nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    .logo-nav > img {
        width: 150px;
    }
}

.menu.open + .list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo-nav > img {
    width: 200px;
}

.frase-nav {
    background-color: #cad1fc;
    padding: 5px;
    width: 45%;
    margin-block: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-weight: 200;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: black;
}

li > a > button {
    font-family: "Roboto", sans-serif;
    border: 0;
    /* color: #f9f9f9; */
    color: #226ce7;
    /* background: #226ce7; */
    place-items: center;
    font-size: 30px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 28px;
}

.menu-icon {
    display: none;
    font-size: 32px;
    cursor: pointer;
    z-index: 1001;
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 996;
}

.menu-overlay.active {
    display: block;
}

